<footer>
    <div class="footer-links">
        <div class="footer-links-column">
            <ul>
                <h3>Legal Stuff</h3>
                <li>Terms of Use</li>
                <li>Terms of Sale</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="footer-links-column">
            <ul>
                <h3>Help</h3>
                <li>FAQ</li>
                <li>Tutorial</li>
                <li>Community</li>
            </ul>
        </div>
        <div class="footer-links-column">
            <ul>
                <h3>About</h3>
                <li>What's Sofo?</li>
                <li>Our Mission</li>
                <li>The Team</li>
            </ul>
        </div>
    </div>
    <div class="footer-icons"></div>
    <div class="footer-copyright"></div>
</footer>