  <div class="header-wrap">
    <header>
    <div></div>
      <%= link_to root_path, :class => "main-logo-div" do %>
        <%= image_tag ("logo.png"), :class => "main-logo" %>
      <% end %>
    </header>
  </div>