  <div class="header-wrap">
    <header>
      <input type="checkbox" id="menyAvPaa">
      <label id="burger" for="menyAvPaa" tabindex="0">
          <div></div>
          <div></div>
          <div></div>
      </label>
      
      <%= link_to root_path, :class => "main-logo-div" do %>
        <%= image_tag ("logo.png"), :class => "main-logo" %>
      <% end %>

    </header>
  </div>