<h1>About</h1>

<section class="about-section">
    <span>
    A platform for discovering, booking and organising events, Shofo aims to bring more entertainment to everyone's life. Whether you want to curate an event or your social life; Shofo will handle the boring stuff, so you can focus on the curating.
    </span>

    <h2>
    Artists, Creatives, Event Planners
    </h2>

    <div>
        <h3>
        Why should I use Shofo?
        </h3>
        <p>
        Shofo handles all the boring parts of event organisation, so you can focus on the main attraction.
        Simply create a new event page, add some details and a hero pic, and you're done. Once your event is listed,
        users can find your event via keyword, category and location based searches. They can book tickets directly from
        your event page to their virtual wallet!
        </p>
    </div>

    <div>
        <h3>
        Sounds cool... but do I need to buy some gadgets?
        </h3>
        <p>
        Nope! Tickets can be scanned using your favourite QR Code reading app, even the default iOS and Android camera apps
        will work. When you scan the ticket a link will pop-up to a validation page. In fact, anyone can scan a Shofo ticket 
        to check if it's legit. If you're logged in as event admin, you'll see some extra useful information about 
        the guest, like their full name and legal drinking age status.
        </p>
    </div>

    <div>
        <h3>
        This actually sounds pretty neat, any more features?
        </h3>
        <p>
        Heaps. Users can enjoy a built-in calendar for keeping track of upcoming events. Each event page is intergrated with Google Maps, you don't have to worry about
        giving directions. And the best part... it's free! We'll take a 3% cut from each sale to cover our costs but there's no charge for hosting your events on Shofo.
        </p>
    </div>

    <h2>
    Punters, Socialites, Event Junkies
    </h2>

    <div>
        <h3>
        So you're just another events site? 
        </h3>
        <p>
        Nope, we're so much more. Shofo is the go-to app for organising your social life. 
        On Shofo you can search and find events that suit you, book tickets, and store them in your virtual wallet.
        You'll even have a personalised social calendar, so you never have to wory about double booking again.

        And, if you're feeling inspired by all of the incredible evens on Shofo, why not organise your own?
        It takes only minutes, and Shofo handles all of the sales and ticketing for you.
        </p>
    </div>

    <div>
        <h3>
        That sounds cool but... complicated.
        </h3>
        <p>
        We hear you! Shofo has a lot of features, but everything has been designed to make it as simple as possible for
        our users. There're really only 4 sections, a Browse section for exploring and booking events, a Wallet for storing your tickets,
        a Calendar for keeping track of upcoming events, and a Host page to organise your own events. We Marie Kondo'd the crap out of
        this app and were left with only the features that spark joy.
        </p>
    </div>
</section>