<h1>Browse</h1>

<h2>Scheduled / In-Progress</h2>
<div class="event-card-grid" >

    <% if Event.all.exists?(event_status: [1,2])%>
        <% Event.all.where(event_status: [1,2]).each do |event| %>
            <a href="<%= event_path(event.id)%>">
                <div class="event-card"
                    <% if event.event_image.attached? %>
                        style="background-image: url(<%=url_for(event.event_image)%>)"
                    <%end%>
                >
                    <div class="event-card-header">
                        <span><%= event.start_date.strftime("%a %d %b")%></span>
                    </div>
                    <div class="event-card-center"></div>
                    <span class="event-card-label"><%= event.title %></span>
                </div>
            </a>
        <% end %>
    <% else %>
        No scheduled events.
    <% end %>
</div>