<h1>Help</h1>

<h2> Frequently Asked Questions </h2>

<details>
    <summary>Why is the Google Map not showing on my event page?</summary>
    <p class="faq">This usually happens because the address you entered is 
    slightly different to Google Maps records. The problem is
    more common with address that contain more complex fields like
    <i>"Unit 1, 123"</i> or <i>"Level 3, Building 2"</i>. Try a
    different combination of the address or look it up on Google Maps
    to see what it is listed as.</p>
</details>

<details>
    <summary>Why is my event image not showing?</summary>
    <p class="faq">Shofo has been having trouble with image files that contain
    <i>spaces</i> in the name as well as brackets with numbers on the end,
    like <i>"myimage (1).jpg"</i> - we're wokring on fixing this but please
    try renaming your image and uplopading again.</p>
</details>
