<div class="carousel">
    <% @featured_events.each do |event| %>
        <div class="carousel-cell featured-event-cell">
            <div class="featured-event-card">
                <div class="featured-event-overlay"
                    <% if event.event_image.attached? %>
                        style="background-image: url(<%=url_for(event.event_image)%>)"
                    <%end%>>
                </div>
                <span class="featured-event-category"><%=Category.find_by(id: event.category_id).name%></span>
            </div>
        </div>
    <% end %>
</div>