<h1>Payment Successful!</h1>

<%= button_to "Book Ticket", {:controller => "events", :action => "book_ticket", :id => @event_id.to_i}, :method=>:post, class: "submit-button action-button no-form ticket-button" %>
