/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin: 20px 0;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  background-color: transparent;
}

body {
  margin:0;
  display: block;
  width: 100vw;
  box-sizing: border-box;
  padding: 0rem 1rem;
}

main {
  margin-top: 10rem;
}

html {
    font-size: 16px;
    font-family: Arial;
}

.header-wrap {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 1rem;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

header {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-spacer {
  height: 6rem;
}

.burger-wrapper {
  cursor: pointer;
}

#meny {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-100%);
    top: 0;
    z-index: 900;
    transition: 0.5s;
}


#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
    overflow: none;
}


#burger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 4px;
    background-color: black;
    transition: 0.5s;
    z-index: 999;
}


#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}

.nav-col {
  display: flex;
  align-items: end;
  margin-right: 10%;
  flex-direction: column;
  text-align: left;
  color: black;
}

.nav-greeting {
  display: block;
  margin-top: 8rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  line-height: normal;
}

.nav-username {
    margin-top: 5px;
}

.nav-line {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.line-break {
  height: 3px;
  width: 40px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-span {
  font-size: 28px;
  margin-left: 0.5rem;
  text-decoration: none;
}

.nav-span:hover {
  color: black;
  background-color: transparent;
}

.nav-small-span {
  font-size: 20px;
  margin-bottom: 1.4rem;
  text-decoration: none;
  background-color: transparent;
}

.nav-small-span:hover {
    color: black;
    background-color: transparent;
}

.nav-row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.logo {
    margin-left: 1rem;
    width: 6rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-logo {
  width: 100%;
}

.main-logo-div {
  z-index: 999;
  width: 6rem;
}

.hero_image {
  width: 100%
}

.hero_image img {
  width: 100%
}

.event-card-grid {
  max-width: 1200px;
  margin: 20px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-card {
  background-color: grey;
  border-radius: 10%;
  background-size: cover;
  height: 180px;
  width: 160px;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 20px 20px 20px 0;
}

.event-card-header {
  padding: 10%;
  color:white;
  background-color:  rgba(0,0,0,0.9);
  text-align: center;
}

.event-card-center {
  height: 100%;
  background-color:  rgba(0,0,0,0.2);
}

.event-card-label {
  padding: 5%;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
}


.action-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color:#19FF83;
  padding: 8px 30px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.action-button:hover {
  background-color:#42fd99;
}

.mini-action-button {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color:#19FF83;
  padding: 4px 15px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.mini-action-button:hover {
  background-color:#42fd99;
}

.ticket-card-grid {
  max-width: 1200px;
  margin: 20px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 10% auto;
  background: linear-gradient(to bottom, #000 50%, #19FF83 50%);
  outline: 10px dotted white;
  outline-offset: -5px;
  z-index: -2;
}

.ticket-card-header {
  padding: 10%;
  margin-top: 5px;
  min-height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ticket-card-stub {
  padding: 10%;
  text-align: center;
  background-color: #19FF83;
  margin-bottom: 5px;
  position: relative;
}


.ticket-card-stub svg{
  width: 80%;
  background-color: #19FF83;
  padding: 10px;
}

.ticket-card-date {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  color: white;
}

.ticket-card-label {
  color: black;
  height: 40px;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: bold;
  color: #19FF83;
  margin: 20px;
}

.ticket-card-details {
  margin: 10px;
  text-align: left;
}