/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= require flickity

* {
  margin: 0;
}

a:visited h1 {
  margin: 30px 0;
}

h2 {
  margin: 20px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  background-color: transparent;
}

body {
  margin: 0;
  display: block;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 0rem 1rem;
  overflow-x: hidden;
}

main {
  flex-direction: column;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

html {
  font-size: 16px;
  font-family: Arial;

}

.header-wrap {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 1rem;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 15px rgba(36, 36, 36, 0.5);
  z-index: 999;
}

header {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-spacer {
  height: 6rem;
}

.burger-wrapper {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  z-index: 1003;
}

#meny {
  background: white;
  width: 450px;
  max-width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  transform: translateX(-100%);
  top: 0;
  transition: 0.2s;
  padding-top: 5rem;
  z-index: 1001;
}


.menu-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}

#menyAvPaa {
  display: none;
}

#menyAvPaa:checked~#meny {
  transform: translateX(0rem);
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}


#menyAvPaa:checked~.menu-overlay {
  display: block;
  animation: fadeIn 0.2s;
}

#burger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger>div {
  height: 4px;
  background-color: black;
  transition: 0.5s;
  z-index: 1002;
}


#menyAvPaa:checked~#burger>div:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}

#menyAvPaa:checked~#burger>div:nth-child(2) {
  opacity: 0;
}

#menyAvPaa:checked~#burger>div:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

.nav-col {
  display: flex;
  align-items: end;
  margin-right: 10%;
  flex-direction: column;
  text-align: left;
}

.nav-greeting {
  display: block;
  margin-left: 1rem;
  font-size: 1.8rem;
  line-height: normal;
  color: black;
}

.nav-username {
  margin-top: 5px;
}

.nav-line {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.line-break {
  height: 3px;
  width: 40px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-span {
  font-size: 28px;
  margin-left: 0.5rem;
  text-decoration: none;
}

.nav-span:hover {
  color: black;
  background-color: transparent;
}

.nav-small-span {
  font-size: 20px;
  margin-bottom: 1.4rem;
  text-decoration: none;
  background-color: transparent;
}

.nav-small-span:hover {
  background-color: transparent;
}

.nav-row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.nav-icon img{
  height: 2rem;
}

.logo {
  margin-left: 1rem;
  width: 6rem;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-logo {
  width: 100%;
}

.main-logo-div {
  z-index: 999;
  width: 6rem;
}

.hero_image {
  width: 100%;
  max-height: 380px;
  height: 60vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start_date {
  font-size: 20px;
  margin-top: 15px;
}

.event-card-grid {
  max-width: 1200px;
  margin: 20px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-card {
  background-color: grey;
  border-radius: 10%;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 20px 20px 20px 0;
}

.event-card-header {
  padding: 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.event-card-center {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.event-card-label {
  padding: 5%;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}


.action-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: #19FF83;
  padding: 12px 30px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.action-button:hover {
  background-color: #42fd99;
}

.mini-action-button {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: #19FF83;
  padding: 4px 15px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.mini-action-button:hover {
  background-color: #42fd99;
}


.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 10% auto;
  background: linear-gradient(to bottom, #000 50%, #19FF83 50%);
  max-height: 500px;
  max-width: 250px;
}

.ticket-card-header {
  padding: 10%;
  margin-top: 5px;
  min-height: 200px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ticket-card-stub {
  padding: 10%;
  text-align: center;
  margin-bottom: 5px;
}


.ticket-card-stub svg {
  width: 80%;
  padding: 10px;
}

.ticket-card-date {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  color: white;
}

.ticket-card-label {
  color: black;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: bold;
  color: #19FF83;
  margin: 20px;
}

.ticket-card-details {
  margin: 10px;
  text-align: left;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.f1 input,
.f2 input {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

form {
  display: grid;
  width: 90%;
  max-width: 400px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1rem;
  margin: 0 auto;
}

form .submit-button input,
.submit-button {
  margin: 30px 0;
  border: none;
  outline: none;
}

.f1 {
  grid-column: span 1;
}

.f2 {
  grid-column: span 2;
}

.f3 {
  grid-column: span 3;
}

.checkbox-field {
  display: flex;
  align-items: center;
}

.checkbox-field input {
  margin-right: 10px;
}

.field {
  margin-top: 20px;
}

input::-webkit-form {
  visibility: hidden;
}

.button_to {
  display: inline-block !important;
}

.trix-content {
  font-size: 20px;
  margin-top: 30px;
}

.ticket-button {
  margin-bottom: 0px;
}

.event-price {
  margin-top: 10px;
  font-size: 20px;
}

.bf-string {
  font-size: 15px;
}

.event-venue {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
}

.event-address {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 20px;
}

.book-or-buy {
  margin-top: 20px;
}

.event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}

.event-title {
  margin: 0;
  width: 50%;
  line-height: normal;
}

.category-column {
  text-align: right;
}

.event-category {
  font-size: 18px;
  font-weight: normal;
}

.event-sub-category {
  font-size: 15px;
  font-weight: lighter;
  color: darkgray;
}

.admin-button {
  margin-top: 30px;
  padding: 10px 30px;
}

form.event_search {
  margin: 0;
  width: 100%;
  display: flex;
  max-width: none;
}

input[type=search] {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 0;
}

.event_search input[type=submit] {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: #19FF83;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  outline: none;
}

.sort-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}

.featured-event-card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer-links {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.footer-links-column ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-spacer {
  margin-top: auto;
  height: 100px;
}

.google_map {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

.google_map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}


.validation_table {
  overflow: hidden;
  width: 80%;
  max-width: 350px;
  min-height: 500px;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%
  }
}

@keyframes spin-fade-in {
  from {
    transform: rotate(0deg);
    opacity: 0%;
  }

  to {
    transform: rotate(360deg);
    opacity: 100%
  }
}

.validation_hero {
  width: 100%;
  height: 125px;
  animation: fade-in 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

.validation_icon {
  animation: spin-fade-in 3s;
  margin-top: -50px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.validation-info {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation-row {
  font-size: 14px;
  margin-bottom: 5px;
}

.validation-row-title {
  font-size: 18px;
}

.validation-row-location {
  margin-bottom: 20px;
}

.validation-row-date {
  font-size: 18px;
}

.validation-row-time {
  font-size: 18px;
  margin-bottom: 20px;
}

.validation-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-top: auto;
  justify-content: space-between;
  background-color: black;
  padding-top: 20px;
}

.validation-name {
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
}

.age_icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

// FEATURED EVENT CAROUSEL

.carousel {
  margin-bottom: 150px;
}

@media only screen and (max-width: 450px) {
  .flickity-button {
    display: none
  }
}


.featured-event-cell {
  width: 90%;
  align-items: center;
  margin: 10px 30px;
}

.featured-event-card {
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  box-shadow: 1px 1px 5px #001430;
}

.featured-event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #08397c 0%, #2b125c 100%);
  opacity: 0.8;
  z-index: -1;
}

.featured-event-category {
  color: #19FF83;
  font-size: 18px;
  align-self: end;
}

.featured-event-date {
  color: white;
  font-size: 23px;
  font-weight: bold;
  align-self: end;
  margin-top: 10px;
  display: block;
  width: 50%;
  line-height: 1;
  text-align: right;
  word-wrap: break-word;
}

.featured-event-footer {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.featured-event-column-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 50%;
}

.featured-event-title {
  font-size: 25px;
  line-height: normal;
  font-weight: bold;
}

.featured-event-column-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 50%;
}

@keyframes line-grow {
  from {
    width: 0%
  }

  to {
    width: calc(100% + 20px)
  }
}

.featured-event-line {
  animation: line-grow 2s;
  margin: 5px 0;
  margin-left: -20px;
  height: 5px;
  background-color: #19FF83;
  width: calc(100% + 20px)
}

// WHAT IS SHOFO?

.what-is-column {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.what-is-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: center;
  gap: 15%;
}

.what-is-row:nth-child(even) {
  flex-direction: row-reverse;
  align-items: center;
}

.what-is-text {
  font-size: 16px;
  font-weight: normal;
}

.what-is-image {
  width: 8rem;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  25% {
    background-position: right;
  }

  50% {
    background-position: left top;
  }

  100% {
    background-position: bottom right;
  }
}

.join-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 25%;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #004cb6, #14013b);
  background-size: 500%;
  background-position: top;
  animation: bg-animation 20s infinite alternate;
  box-shadow: 1px 1px 5px #001430;
}

.join-today {
  font-size: 40px;
  line-height: normal;
  word-wrap: normal;
  text-align: center;
  color: white;
}

.action-button.sign-up-button {
  margin-top: 50px;
  display: inline-block;
}

// calendar

details {
  background-color: rgb(240, 240, 240);
}

details summary {
  padding: 20px;
  font-size: 20px;
}

summary {
  background-image: url("open.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 95%;
  list-style: none;
}

details[open] summary {
  background-image: url("close.svg");
}

details summary::-webkit-details-marker {
  display:none;
}

.calendar-event-card {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  justify-content: stretch;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.calendar-event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width:100px;
  background-color: black;
  color: white;
  padding: 10px;
  height: 100%;
}

.calendar-event-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  width:auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.calendar-no-events {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(230,230,230);
}