/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
}
html {
    font-size: 16px;
    font-family: Arial;
}
header {
    border-bottom: 1px solid #eee;
    height: 4rem;
}
.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: white;
    width: 50rem;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}



#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

.nav-col {
  display: flex;
  align-items: end;
  margin-right: 10%;
  flex-direction: column;
  text-align: left;
}

.nav-greeting {
  display: block;
  margin-top: 4rem;
  margin-left: 1rem;
  font-size: 1.8em;
}

.nav-line {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.line-break {
  height: 3px;
  width: 40px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-span {
  font-size: 28px;
  margin-left: 0.5rem;
}

.nav-small-span {
  font-size: 20px;
  margin-bottom: 1.4rem;
}

.nav-row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}* {
    margin: 0;
}
html {
    font-size: 16px;
    font-family: Arial;
}
header {
    border-bottom: 1px solid #eee;
    height: 4rem;
}
.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: white;
    width: 50rem;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}



#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

.nav-col {
  display: flex;
  align-items: end;
  margin-right: 10%;
  flex-direction: column;
  text-align: left;
}

.nav-greeting {
  display: block;
  margin-top: 4rem;
  margin-left: 1rem;
  font-size: 1.8em;
}

.nav-line {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.line-break {
  height: 3px;
  width: 40px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-span {
  font-size: 28px;
  margin-left: 0.5rem;
}

.nav-small-span {
  font-size: 20px;
  margin-bottom: 1.4rem;
  text-decoration: none;
  background-color: transparent;
}

.nav-small-span:hover {
    color: black;
    background-color: transparent;
}

.nav-row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.logo {
    margin-left: 1rem;
    width: 20%;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}