/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= require flickity


// _________MAIN________

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x:hidden;
  position: relative;
}

a:visited h1 {
  margin: 30px 0;
}

h2 {
  margin: 20px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  background-color: transparent;
}

main {
  flex-direction: column;
  padding: 8rem 1rem 350px 1rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 600px;
}

html {
  font-size: 16px;
  font-family: Arial;
}

// ________BUTTONS_________ 

.action-button {
  color: black;
  text-decoration: none;
  background-color: #19FF83;
  padding: 12px 30px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.host-button {
  margin-top: 20px;
  margin-bottom: 50px;
}

.action-button:hover {
  background-color: #42fd99;
}

.mini-action-button {
  color: black;
  font-size: 12px;
  text-decoration: none;
  background-color: #19FF83;
  padding: 4px 15px;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
}

.mini-action-button:hover {
  background-color: #42fd99;
}


// ________FORMS________

.f1 input,
.f2 input, form select  {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(31, 31, 31, 0.5);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


form, form.event_search#event_search {
  display: grid;
  width: 90%;
  max-width: 400px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1rem;
  margin: 0 auto;
}

form .submit-button input,
.submit-button {
  margin: 30px 0;
  border: none;
  outline: none;
}

#q_state_eq {
  height:fit-content;
  margin-top: 30px;
  box-sizing: border-box;
}

.search-button {
  margin: 30px;
}

.f1 {
  grid-column: span 1;
}

.f2 {
  grid-column: span 2;
}

.f3 {
  grid-column: span 3;
}

.checkbox-field {
  display: flex;
  align-items: center;
}

.checkbox-field input {
  margin-right: 10px;
  margin-left: 10px;
}

.field {
  margin-top: 20px;
}

#event_start_date_1i, #event_end_date_1i {
  width: 25%;
  margin: 5px;
}

.field label {
  display: block;
}

#event_start_date_2i, #event_end_date_2i {
  width: 25%;
  margin: 5px;
}

#event_start_date_3i, #event_end_date_3i {
  width: 20%;
  margin: 5px;
}

#event_start_date_4i, #event_end_date_4i {
  width: 20%;
  margin: 5px;
}

#event_start_date_5i, #event_end_date_5i {
  width: 20%;
  margin: 5px;
}

input::-webkit-form {
  visibility: hidden;
}

form.event_search {
  margin: 0;
  width: 100%;
  display: flex;
  max-width: none;
}

input[type=search] {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 0;
}

.event_search input[type=submit] {
  color: black;
  text-decoration: none;
  background-color: #19FF83;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.event_search input[type=submit]:hover {
  background-color: #42fd99;
}

.sort-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}


// ________GOOGLE_MAPS_________

.google_map {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

.google_map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}


// ________TRIX________

.trix-button--icon-decrease-nesting-level { display: none; }

.trix-button--icon-code { display: none; }

.trix-button--icon-attach { display: none; }

.trix-button-group-spacer { display: none; }

.about-section p {
  margin: 20px 0;
}

// ________FLICKITY________

.carousel {
  margin-bottom: 150px;
}

.carousel-cell {
  width: 66%;
  margin-right: 20px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

// FEATURED EVENT CAROUSEL

  
@media only screen and (max-width: 450px) {
  .flickity-button {
    display: none
  }
}

.flickity-page-dots {
  row-gap: 15px;
}


.featured-event-cell {
  width: 90%;
  align-items: center;
  margin: 10px 30px;
}


.featured-event-card {
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  box-shadow: 1px 1px 5px #001430;
}

.featured-event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #08397c 0%, #2b125c 100%);
  opacity: 0.8;
  z-index: -1;
}

.featured-event-category {
  color: #19FF83;
  font-size: 18px;
  align-self: end;
}

.featured-event-date {
  color: white;
  font-size: 23px;
  font-weight: bold;
  align-self: end;
  margin-top: 10px;
  display: block;
  width: 50%;
  line-height: 1;
  text-align: right;
  word-wrap: break-word;
}

.featured-event-footer {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.featured-event-column-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 50%;
}

.featured-event-title {
  font-size: 25px;
  line-height: normal;
  font-weight: bold;
}

.featured-event-column-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 50%;
}

@keyframes line-grow {
  from {
    width: 0%
  }

  to {
    width: calc(100% + 20px)
  }
}

.featured-event-line {
  animation: line-grow 2s;
  margin: 5px 0;
  margin-left: -20px;
  height: 5px;
  background-color: #19FF83;
  width: calc(100% + 20px)
}
