
  // WHAT IS SHOFO?
  
  .what-is-column {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  
  .what-is-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
    gap: 15%;
  }
  
  .what-is-row:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .what-is-text {
    font-size: var(--body-font-size);
    font-weight: normal;
  }
  
  .what-is-image {
    width: 8rem;
  }
  
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
  
    25% {
      background-position: right;
    }
  
    50% {
      background-position: left top;
    }
  
    100% {
      background-position: bottom right;
    }
  }
  
  .join-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20% 25%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #004cb6, #14013b);
    background-size: 500%;
    background-position: top;
    animation: bg-animation 20s infinite alternate;
    box-shadow: 1px 1px 5px #001430;
  }
  
  .join-today {
    margin: 0;
    width: 10ch;
    font-size: var(--heading-font-size);
    line-height: normal;
    word-wrap: normal;
    text-align: center;
    color: white;
  }
  
  .action-button.sign-up-button {
    display: inline-block;
    margin: 20px;
  }
  