// TICKETS


.full-overlay {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display:none;
  z-index: 99;
}

.ticket-card {
  position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: -500px auto;
    width: 100%;
    max-width: 450px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 2px -2px 10px rgba(0,0,0,0.3);
  }

  .ticket-toggle {
    display: none;
  }

  .ticket-toggle:checked + .ticket-card {
    z-index: 100;
    position: fixed;
    top: 650px;
    width: calc(100% - 2rem);
  }

  .ticket-toggle:first-of-type:checked + .ticket-card {
    z-index: 100;
    width: calc(100% - 2rem);
  }

  

  .ticket-card:first-of-type {
    margin-top: 25px;
  }

  .ticket-card:last-of-type {
    margin-bottom: 25px;
  }
  
  .ticket-card-header {
    display: flex;
    flex-direction: column;
    justify-content:start;
    height: 30%;
    padding: 5%;
    box-sizing: border-box;    height: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-color: rgb(100,100,100);
  }


  // .right-cutout {
  //   width: 30px;
  //   background-color: white;
  //   height: 30px;
  //   border-radius: 50%;
  //   position:absolute;
  //   right: -15px;
  //   top: calc(50% - 15px);
  // }

  // .left-cutout {
  //   width:30px;
  //   background-color: white;
  //   height: 30px;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: -15px;
  //   top: calc(50% - 15px);
  // }
  
  .ticket-card-stub {
    // background-color: #19FF83;
    box-sizing: border-box;
    padding: 4%;
    box-sizing: border-box;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#19FF83;
  }
  
  .ticket-card-stub svg {
    width:70%;
  }

  
  .ticket-card-date {
    font-size: 1.5rem;
    line-height: normal;
    font-weight: bold;
    color: white;
  }

  .ticket-card-time {
    font-size: 1.2rem;
    line-height: normal;
    color: white;
  }
  
  .ticket-card-label {
    color: black;
    font-size: 2rem;
    line-height: normal;
    font-weight: bold;
    color: #19FF83;
  }
  
  .ticket-card-details {
    text-align: left;
  }


// VALIDATION

.validation_table {
    overflow: hidden;
    width: 80%;
    max-width: 350px;
    min-height: 500px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%
    }
  }
  
  @keyframes spin-fade-in {
    from {
      transform: rotate(0deg);
      opacity: 0%;
    }
  
    to {
      transform: rotate(360deg);
      opacity: 100%
    }
  }
  
  .validation_hero {
    width: 100%;
    height: 125px;
    animation: fade-in 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
  }
  
  .validation_icon {
    animation: spin-fade-in 3s;
    margin-top: -50px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .validation-info {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .validation-row {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .validation-row-title {
    font-size: 18px;
  }
  
  .validation-row-location {
    margin-bottom: 20px;
  }
  
  .validation-row-date {
    font-size: 18px;
  }
  
  .validation-row-time {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .validation-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-top: auto;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
  }
  
  .validation-name {
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
  }
  
  .age_icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
